<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Genesys.ApiClient.Sample.Agent.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.diagnostics>
    <sources>
      <!--<source name="Genesys.Bayeux.Client">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="Genesys.WebServicesClient">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="System.Windows.Data">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="System.Net">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="System.Net.Http">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets" tracemode="protocolonly" maxdatasize="1024">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="System.Net.WebSockets">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>-->
    </sources>
    <switches>
      <add name="Genesys.Bayeux.Client" value="Information"/>

      <add name="Genesys.WebServicesClient" value="All"/>

      <!-- Set to Verbose for seeing HTTP request contents, and complete HTTP request headers (including cookies) -->
      <add name="System.Net" value="Off"/>
      
      <add name="System.Windows.Data" value="Warning"/>
      <add name="System.Net.Cache" value="Off"/>
      <add name="System.Net.Http" value="Off"/>
      <add name="System.Net.Sockets" value="Off"/>
      <add name="System.Net.WebSockets" value="Off"/>
    </switches>
    <sharedListeners>
      <add name="Console" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="None"/>
      <!-- traceOutputOptions="Timestamp,Callstack,DateTime,LogicalOperationStack,ProcessId,ThreadId" or "None" -->
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <userSettings>
    <Genesys.ApiClient.Sample.Agent.Wpf.Properties.Settings>
      <setting name="ApiBaseUrl" serializeAs="String">
        <value/>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value/>
      </setting>
      <setting name="Password" serializeAs="String">
        <value/>
      </setting>
      <setting name="OpenConnectionTimeoutMs" serializeAs="String">
        <value>00:00:05</value>
      </setting>
      <setting name="ApiKey" serializeAs="String">
        <value/>
      </setting>
      <setting name="ClientId" serializeAs="String">
        <value/>
      </setting>
      <setting name="ClientSecret" serializeAs="String">
        <value/>
      </setting>
      <setting name="Dn" serializeAs="String">
        <value/>
      </setting>
    </Genesys.ApiClient.Sample.Agent.Wpf.Properties.Settings>
  </userSettings>
</configuration>
